<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Identifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<!--Navigation-->
<ul class="nav-bar">
    <li class="nav-item nav-active"><a href="{{ url_for('main') }}">Identifier</a></li>
    <li class="nav-item"><a href="{{ url_for('progress') }}">Progress</a></li>
    <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
</ul>
<!--Page Content-->
<h1>{{ breed_name }}</h1>
<form action="{{ url_for('handle_response') }}" method="post">
    <div class="wrapper">
    {% for img_url in img_urls %}
        <div class="container">
            <input type="checkbox" id="box-{{ loop.index }}" name="box_{{ loop.index }}" value="{{ img_url }}" checked="checked"/>
            <label for="box-{{ loop.index }}">
                <img src="{{ img_url }}"/>
            </label>
        </div>
    {% endfor %}
    </div>
    <input type="text" value="{{ img_ids }}" name="img_ids" hidden>
    <input type="text" value="{{ breed_id }}" name="breed_id" hidden>
    <input type="submit" value="Submit">
</form>
</body>
</html>